body {
	background-color:  white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

#head {
	background-color: #233544;
	color: white;
	padding: 30px 10px 20px 10px;
	height: 60px;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 2em;
}

@media only screen and (min-width: 1300px) {
  .team {
	width: 30%;
  }
}

@media only screen and (max-width: 1299px) {
  .team {
	width: 45%;
  }
}

@media only screen and (max-width: 1000px) {
  .team {
	width: 90%;
	
  }

/*  table {
  	font-size: 17px;
  }

  .teamname {
  	font-size: 20px;
  }

  .teamdivision {
  	font-size: 17px;
  }*/
}

.team {
	min-width: 300px;
	display: inline-block;
	margin: 20px;
}

.teamname {
	margin: 0;
	font-size: 15px;
	color: white;
}

.teamdivision {
	margin: 0;
	font-size: 12px;
	color: white;
}

#teammembers {
	font-style: italic; 
}

.footergame {
	background-color: #383F44;
	padding: 10px;
}

#tableClubname {
	width: 40%;
	max-width: 140px;
	overflow: hidden;
}

#homeclub {
	background-color: #6598C4;
	color: white;
}

#rank {
	width: 20px;
}

table {
	width: 100%;
}

.table {
	height: 426px;
	max-height: 426px;
}

.table td {
	padding: 15px;
	text-align: left;
	border: none;
	border-bottom: 1px solid #ddd;

}

.table tr:nth-child(even) {
	background-color: rgba(56, 63, 68, 0.1);
}

.table th {
	padding: 0px 15px 6px 15px;
	text-align: left;
	opacity: 0.8;
	text-decoration: none;
	color: black;
	font-size: 0.93em;
}

#topteam {
	background-color: #383F44;
	padding: 5px;
}



/* <Collapsible content and arrow animation> */

#coll-icon {
	right: 0;
}

.collapsible {
  background-color: #383F44;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #4D565E;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

.content-inside {
	height: 426px;
}

.rotate{
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* </Collapsible content and arrow animation> */