body {
	background-color:  white;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	/*position: fixed;*/
}

#head {
	background-color: #233544;
	color: white;
	padding: 1vh 1vw 1vh 1vw;
	height: 30px;
	width: 100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
}

@media only screen and (min-width: 1300px) {
  .team {
	width: 30vw;
	margin: 1vh 1vw 1vh 1vw;
  }
}

@media only screen and (max-width: 1299px) {
  .team {
	width: 40vw;
	margin: 1vh 1vw 1vh 1vw;
  }
}

@media only screen and (max-width: 1000px) {
  .team {
	width: 90vw;
	margin: 1vh 4vw 1vh 6vw;
  }



/*  table {
  	font-size: 17px;
  }

  .teamname {
  	font-size: 20px;
  }

  .teamdivision {
  	font-size: 17px;
  }*/
}

.team {
	/*min-width: 300px;*/
	display: inline-block;
}

.teamname {
	margin: 0;
	font-size: 1em;
	color: white;
}

.teamdivision {
	margin: 0;
	font-size: 12px;
	color: white;
}

#teammembers {
	font-style: italic; 
}

.footergame {
	background-color: #383F44;
	padding: 20px;
}

#tableClubname {
	width: 60%;
	max-width: 200px;
	font-size: 19px;
	overflow: hidden;
}

#homeclub {
	background-color: #6598C4;
	color: white;
}

#rank {
	width: 20px;
}

#score {
	width: 25px;
}

table {
	width: 100%;
}

.table {
	height: 50vh;
	max-height: 50vh;
}

.table td {
	padding: 1.5vh 1.1vw 1.5vh 1.1vw;
	text-align: left;
	border: none;
	border-bottom: 1px solid #ddd;
}

.table tr:nth-child(even) {
	background-color: rgba(56, 63, 68, 0.1);
}

.table th {
	padding: 1vh 1vw 1vh 1vw;
	text-align: left;
	opacity: 0.8;
	text-decoration: none;
	color: black;

}

.names td {
	font-size: 1em;
}

.mark {
	border-left: 2px solid black;
	font-weight: bold;
}

#topteam {
	background-color: #383F44;
	padding: 5px;
}

.arrowHolder {
	float: right;
	padding: 0px 5px 0px 5px;
}



/* <Collapsible content and arrow animation> */

#coll-icon {
	right: 0;
}

.collapsible {
  background-color: #383F44;
  color: white;
  cursor: pointer;
  padding: 6px 5px 6px 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #4D565E;
}

.content {
  padding: 0 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

/*.content::-webkit-scrollbar { 
    display: none; 
}
*/
.content-inside {
	height: 50vh;
}

.rotate{
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.rotate.down{
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* </Collapsible content and arrow animation> */